.main{
    display: flex;
    align-items: center;
    gap: 60px;
}

.right{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
}

.title{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;

    h2{
        font-family: var(--second-family);
        font-weight: 600;
        font-size: 51px;
        line-height: 110%;
        text-transform: capitalize;
        color: #fff;
    }

    span{
        font-family: var(--second-family);
        font-weight: 400;
        font-size: 22px;
        line-height: 160%;
        text-transform: capitalize;
        color: #fff;
    }
}